<?xml version="1.0" encoding="UTF-8"?>
<!--

    Bean Validation TCK

    License: Apache License, Version 2.0
    See the license.txt file in the root directory or <http://www.apache.org/licenses/LICENSE-2.0>.

-->
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

    <!-- Allows usage of CHECKSTYLE:ON/OFF in code to suppress violations within a pair of comments -->
    <module name="SuppressionCommentFilter"/>

    <module name="TreeWalker">

        <!-- SuppressionCommentFilter filter only works in conjunction with a FileContentsHolder -->
        <module name="FileContentsHolder"/>

        <!-- Checks for imports -->
        <module name="AvoidStarImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <module name="ImportControl">
            <property name="file" value="import-control.xml"/>
        </module>

    </module>

</module>
