#
# Jakarta Validation TCK
#
# License: Apache License, Version 2.0
# See the license.txt file in the root directory or <http://www.apache.org/licenses/LICENSE-2.0>.
#

# This workflow will build a Java project with Maven
# For more information see: https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI with Maven on Pull Request

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        java-version:
          - { name: "17", java_version_numeric: 17, extra_args: " -Dbuild.require.jdk21=false" }
          - { name: "21", java_version_numeric: 21, extra_args: "" }
          - { name: "25", java_version_numeric: 25, extra_args: "" }
          - { name: "26-ea", java_version_numeric: 26, from: 'jdk.java.net', extra_args: "" }

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up latest JDK ${{ matrix.java-version.name }} from jdk.java.net
        if: matrix.java-version.from == 'jdk.java.net'
        uses: oracle-actions/setup-java@2e744f723b003fdd759727d0ff654c8717024845 # v1.4.0
        with:
          website: jdk.java.net
          release: ${{ matrix.java-version.java_version_numeric }}
      - name: Set up JDK ${{ matrix.java-version.name }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        if: matrix.java-version.from != 'jdk.java.net'
        with:
          java-version: ${{ matrix.java-version.java_version_numeric }}
          distribution: 'temurin'
          cache: maven
      - name: Build TCK
        run: ./mvnw clean install -Psnapshots ${{ matrix.java-version.extra_args }}
